		html {
			font-size: 14px;
		}

		#articulo {
			color: blue;
			background-color: gray;
		}

		.etiqueta {
			font-size: 3rem;
		}

		label {
			font-size: 1.5rem;
		}


		.mi-header {
			border: 2px solid red;
			text-align: center;
		}

		form [type="text"] {
			border: 2px solid green;
			/*
				border-width: 2px;
				border-style: solid;
				border-color: green
			*/
		}

		form {
			position: relative;
		}

		form::after,
		form::before {
			content: "::after";
			width: 100px;
			height: 100px;
			font-size: 3rem;
			color: red;
		}

		form::before {
			content: "::before";
		}

		form::after {
			background: red;
			position: absolute;
			bottom: -100px;
		}
		

		input[type="radio"]:checked {
			display: block;
			width: 100px;
			height: 100px;
		}


		input:required {
			border: 1px solid red;
		}

		input:required:valid {
			border: 5px solid green;
		}